<% include header %>
<main>
  <section class="standalone-article">
      <div class="article-intro" data-image-src="/img/<%- item.afbeeldingl %>">
        <h2>
          <%- item.title %>
        </h2>
      </div>
      <div class="article-info">
          <%- item.body %>
      </div>
      <!--<img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">-->
  </section>
</main>

<% include footer %>
